<div class="col-10 offset- about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/derfman9303">Fred</a>
  </p>
  <br />
  <p>
    This web app was created as a learning project, and it has served its purpose well.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Frederic Hodges</h2>
      <br />
      <p>
        Frederic is an aspiring Web developer and designer, studying with UW Milwaukee Extended campus. He is currerntly employed as a barista at Door County Coffee and Tea Co. and being mentored in the newly-emerging art of artisanal coffee drink creation at Discourse coffee. Frederic is passionate about learning new things, particularly regarding coding and programming.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />